// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #1B3C53;
$secondary: #456882;
$accent: #D2C1B6;

$dark: #1B3C53;
$dark-page: #F9F3EF;

$positive: #456882;
$negative: #1B3C53;
$info: #456882;
$warning: #D2C1B6;
